/* @import url('https://fonts.googleapis.com/css2?family=Santosh:wght@400;700&family=Figtree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Santosh', sans-serif;
} */



@import url('https://fonts.googleapis.com/css2?family=Santosh:wght@400;700&family=Figtree:wght@400;500;600;700&family=Noto+Serif+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Santosh', sans-serif;
}


::-webkit-scrollbar {
  height: 8px; /* scrollbar thickness */
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* light gray track */
  border-radius: 10px;
  margin-inline: 16px; /* gap from edges */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* darker on hover */
}

